

@use "../../../styles/var.scss";

.authContent{
    padding: 50px 20px 10px 20px;
    header, footer{
        padding: 0 !important;
    }
    & > div{
        padding: 0 !important;
        input{
            margin: 5px 0;
        }
    }
    & > *{
        margin: 5px 0;
    }
    h2{
        text-align: center;
    }
    form{
        button[type="submit"]{
            margin-top: 10px;
            width: 100%;
            color: white;
            background-color: var.$mainColor;
        }
        
    }
    button.refreshPass{
        display: block;
        padding: 0 !important;
        margin: 0 auto;
        // border: 1px solid #000;
        color: grey;
        &:hover{
            color: black;
            text-decoration: underline;
        }
    }
}