@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  
}


.page{
  // border: 1px solid #000;
  scrollbar-width: 10px !important;
  scrollbar-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;



  header, footer{
    flex: 0 0 auto;
  }
  header{
    display: flex;
    padding: 10px 5%;
    align-items: center;
    justify-content: space-between;
    *.logo{
      font-size: 25px;
    }
    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: white;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.473);
    }
    & > div{
      display: flex;
      align-items: center;
      nav{
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

    }
    div.userMenu{
      width: 200px;
      display: flex;
      flex-direction: column;
      
      padding: 10px;
      *{
        margin: 0 0 5px 0;
      }
      a.createPost{
        text-align: center;
        color: white;
        padding: 10px 0;
        border-radius: 10px;
        background-color: rgb(80, 149, 214);
      }
    }
  
  }
  main{
    width: 90%;
    margin: 0 auto;
    flex: 1 0 auto;
    padding: 30px 0;
  }
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
}
.list-post{
  margin: 20px 0;
}
.list-post-grid{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 858px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 560px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
*.logo{
  font-family: "Comfortaa", sans-serif !important;
  line-height: 1;
}
.mainGrid{
  display: grid;
  grid-template-columns: auto 1fr;
}
.notFound{

  & > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    h1.big{
      display: block;
      font-size: 250px !important;
      line-height: 0.4;
      text-align: center;
      color: rgb(80, 149, 214);
    }
    span{
      line-height: 1;
      font-size: 38px;
      text-align: center;
      font-style: italic;
    }
    a{
      align-self: center;
      width: fit-content;
      margin-top: 30px;
      background-color: rgb(80, 149, 214);
      padding: 20px 30px;
      border-radius: 10px;
      color: white;
    }
  }
  
}

footer{
  // border-top: 1px solid #c2c2c2;
  width: 100%;
  padding: 10px 5%;
  text-align: center;
  background-color: rgb(80, 149, 214);
  color: white;
  *.logo{
    font-size: 25px;
  }
  span.rights{
    font-size: 14px;
  }
}


.blockBanner{
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid #000;
  box-shadow: 0px 2px 4px #c2c2c2;
  border: 1px solid #c5c5c5;
  text-align: center;
  color: rgb(197, 74, 74);
  padding: 10px;
  border-radius: 10px;
  svg{
    width: 90px;
    height: 90px;
    fill: rgb(197, 74, 74);
  }
}

.searchX{

  gap: 0 !important;


  @media screen and (max-width: 450px) {
    button,input,select{
      font-size: 12px;
    }
  }
}